*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

*.cmt
*.cmti

_build/

*.byte
*.native

setup.data
setup.log

.merlin

*.install

_opam/
*.ck
*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.ilk

*.pdb

*.so
*.dylib
*.dll
*.so.*


*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

build/
Build/
build-*/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json

*.tmp
*.log
*.bak
*.swp

vcpkg_installed/

*.dwo

Testing/
.cache/
